

*{
    margin: 0;  
    padding: 0;
}



.profilecontain{

    
    margin: auto;  
    margin-top: 20px;
    padding: 0;
 border: 2px solid red;
background-color: antiquewhite;
width: 60%;

height: 600px;
display: flex;


}